.nav__navBar {
  background-color: $blueSecondary;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem;
  color: $white;
  width: 100%;
  position: fixed;
  z-index: 1;

  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.nav__navBar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;


  h2 {
    font-size: 0.8rem;
    margin-right: 1rem;
  }

  button {
    background-color: transparent;
    border: none;
    color: $white;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
  }
}