$bluePrimary :rgb(74, 170, 247);
$blueSecondary : rgb(21, 93, 153);
$pink:#f207ab;
$purple:#dc8df4;
$ocher:#eaaa15;
$white:#fff;
$black:#000;
$greenPrimary:rgb(88, 176, 43);
$greenSecundary:rgb(40, 134, 10);